@import 'initializer';

.student-info-box {
    img {
        width: 110px;
        height: 110px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid $border;
        padding: 5px;
    }
}

.profile-table-container {
    overflow: auto;
    .s-table {
        min-width: 500px;
    }
}