<div class="container">
    <div class="pt-8 mt-8"></div>
    <div class="ptb-10 plr-6 content-shadow bg-white mb-6">
        <div class="max-800 max-center">
            <h2 class="section-title mb-6 title-with-btn">
                <div class="inline-block">
                    <i class="fa fa-caret-right mr-3"></i>
                    Student info
                </div>
                <a [routerLink]="'/students/profile/edit/' + id" class="s-btn btn-secondary">
                    Edit profile
                </a>
            </h2>
            <div class="student-info-box text-center">
                <p class="section-title">
                    {{applicantName}}
                </p>
            </div>
            <div class="mtb-6"></div>
            <table class="table s-table table-hovered fixed-layout table-stripped">
                <colgroup>
                    <col width="200px">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <td class="border-bottom ptb-2 text-right">Applicant Status</td>
                        <td class="border-bottom ptb-2 weight-bold">{{statusName}}</td>
                    </tr>
                    <tr *ngFor="let row of applicationData">
                        <td class="border-bottom ptb-2 text-right">{{row.key}}</td>
                        <td class="border-bottom ptb-2 weight-bold">{{row.value}}</td>
                    </tr>
                    <tr>
                        <td class="border-bottom ptb-2 text-right">Guardians</td>
                        <td class="border-bottom ptb-3 weight-bold plr-0">
                            <div *ngFor="let guardian of guardians; let i = index" class="plr-3" [ngClass]="{'border-bottom': i != guardians.length - 1, 'mb-3': i != guardians.length - 1, 'pb-3': i != guardians.length - 1}">
                                <div class="flex flex-middle">
                                    <p class="max-150 width-100">Name: </p>
                                    <p class="weight-bold">
                                        {{guardian.name}}
                                    </p>
                                </div>
                                <div class="flex flex-middle">
                                    <p class="max-150 width-100">Relation: </p>
                                    <p class="weight-bold">
                                        {{guardian.relation}}
                                    </p>
                                </div>
                                <div class="flex flex-middle">
                                    <p class="max-150 width-100">E-mail: </p>
                                    <p class="weight-bold">
                                        {{guardian.email}}
                                    </p>
                                </div>
                                <div class="flex flex-middle">
                                    <p class="max-150 width-100">Phone Number: </p>
                                    <p class="weight-bold">
                                        {{guardian.phone_number}}
                                    </p>
                                </div>
                                <div class="flex flex-middle">
                                    <p class="max-150 width-100">Address 1: </p>
                                    <p class="weight-bold">
                                        {{guardian.primary_address}}
                                    </p>
                                </div>
                                <div class="flex flex-middle">
                                    <p class="max-150 width-100">Address 2: </p>
                                    <p class="weight-bold">
                                        {{guardian.secondary_address}}
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>