<div class="container">
    <div class="pt-8 mt-8"></div>
    <div class="ptb-10 plr-6 content-shadow bg-white mb-6">
        <div class="text-center max-600 max-center">
            <div class="thank-you-image mb-3 max-100 max-center">
                <img class="max-100" src="assets/images/goal.svg" alt="">
            </div>
            <h3 class="component-title">
                Thank you!
            </h3>
            <p class="size-small">
                Your application has been submitted successfully.
            </p>
        </div>
    </div>
</div>