<div class="container">
    <div class="pt-10 mt-8"></div>
    <div class="ptb-10 plr-6 content-shadow bg-white mb-6">
        <div class="ptb-3"></div>
        <div class="max-500 max-center">
            <h2 class="section-title mb-6 border-bottom pb-1">
                <i class="fa fa-caret-right mr-3"></i>
                Login
            </h2>
            <form #loginForm="ngForm" (ngSubmit)="login()">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <div class="form-group inline-form-group mb-0"
                            [class.has-error]="loginForm.submitted && email.invalid">
                            <label for="">E-mail <sup class="text-error">*</sup></label>
                            <input type="text" class="s-control" autocomplete="email" placeholder="Enter email address" name="email" ngModel
                                #email="ngModel" required>
                        </div>
                    </div>
                    <div class="col-md-12 mb-4">
                        <div class="form-group inline-form-group mb-0"
                            [class.has-error]="loginForm.submitted && password.invalid">
                            <label for="">Password <sup class="text-error">*</sup></label>
                            <input type="password" class="s-control" autocomplete="current-password" placeholder="Enter password" name="password"
                                ngModel #password="ngModel" required>
                        </div>
                    </div>
                </div>
                <div class="alert-error mt-6" *ngIf="invalidCredentials">
                    Invalid email or password.
                </div>
                <div class="border-bottom mtb-6"></div>
                <div class="btns-container flex flex-center">
                    <button [disabled]="isSubmitting" type="submit" class="s-btn btn-lg btn-primary max-200 btn-block">
                        <span class="fa fa-spinner loading-icon" *ngIf="isSubmitting"></span>
                        <span *ngIf="!isSubmitting">Login</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>