@import 'color_scheme';

[class*="alert-"] {
    color: #fff;
    font-size: 0.875rem;
    padding: 8px 20px;
    text-align: center;
    border-radius: 4px;
}

[class*="alert-"]::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;

}

.alert-error {
    background-color: $error !important;
}

.alert-success {
    background-color: $success !important;
}

.alert-notification {
    background-color: $select !important;
}

.validator {
    animation: showUp 0.3s linear 0s 1 forwards;
    opacity: 0;
    display: none;
}

.validator.visible-validator {
    display: block;
}

@keyframes showUp {
    to {
        opacity: 1;
    }
}
