%cover-centered {
    background-size: cover;
    background-position: center center;
}

%flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-middle {
    display: flex;
    align-items: center;
}

%flex-space-between{
    display: flex;
    justify-content: space-between;
}
%no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}