@import 'blocks';
@import'variables';
@import'color_scheme';
@import 'initializer';

%checkbox-style {
    display: inline-flex;
    font-size: 1rem;

    input {
        display: none;

        &+label {
            position: relative;
            cursor: pointer;
            padding: 0;
            display: inline-flex;
            align-items: center;
            margin: 0;
            transition: $transition_1;
            color: $text;
            font-weight: inherit;
            min-height: 20px;
            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Safari */
            -khtml-user-select: none;
            /* Konqueror HTML */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently supported by Chrome and Opera */
        }

        &+label:hover,
        &:checked+label {
            color: $text;
        }

        &+label::before,
        &+label::after {
            border-radius: 4px;
            content: '';
            width: 20px;
            height: 20px;
            top: 50%;
            margin-top: -10px;
            position: absolute;
            font: normal normal normal 12px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: inherit;
            transition: $transition_1;
        }

        &+label::before {
            z-index: 2;
            @extend %flex-centered;
        }

        &:disabled+label {
            opacity: 0.6;
            cursor: not-allowed;
        }

        &:disabled+label:before,
        &:disabled+label:after {
            box-shadow: none;
        }

        &+label::before {
            transform: scale(0);
        }

        &:checked+label::before {
            transform: scale(0.75);
        }
    }
}

.s-checkbox,
.s-checkbox-round,
.s-radio {
    @extend %checkbox-style;
}

.s-checkbox {
    input {
        &+label::before {
            color: #fff;
            content: "\f00c";
        }
    }
}

.s-radio {
    input {
        &+label::before {
            border-radius: 50%;
            content: '';
            border: 2px solid #fff;
        }
    }
}

.s-checkbox-round {

    input {
        &+label:after {
            border-radius: 50%;
        }

        &+label::before {
            color: #fff;
            content: "\f00c";
            border-radius: 50%;
        }
    }
}

.checkbox-colored {
    label {
        color: inherit !important;
    }

    label::before,
    label::after {
        border-color: inherit !important;
    }
}

.s-checkbox-slider {
    display: inline-flex;

    input {
        display: none;
    }

    label {
        display: inline-flex;
        margin: 0;
    }

    .slider {
        width: 30px;
        height: 16px;
        position: relative;
        display: inline-block;

        .slider-bg {
            height: 10px;
            width: 100%;
            top: 3px;
            left: 0;
            position: absolute;
            background: #d8dde6;
            border-radius: 20px;
            display: inline-block;
            transition: 0.3s;
        }

        .slider-handle {
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background: #7a8993;
            transition: 0.3s;
            top: 0;
            display: inline-block;
            position: absolute;
            border: 1px solid transparent;
        }
    }
}

.s-checkbox-slider-second {
    display: inline-flex;

    input {
        display: none;
    }

    label {
        display: inline-flex;
        margin: 0;
    }

    .slider {
        width: 45px;
        height: 20px;
        position: relative;
        display: inline-block;

        .slider-bg {
            height: 20px;
            width: 100%;
            top: 3px;
            left: 0;
            position: absolute;
            background: #d8dde6;
            border-radius: 20px;
            display: inline-block;
            transition: 0.3s;
        }

        .slider-handle {
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background: white;
            transition: 0.3s;
            top: 5px;
            display: inline-block;
            position: absolute;
            border: 1px solid transparent;
        }
    }

    input:checked+label {
        .slider-bg {
            background: $green;

            &::after {
                top: 3px;
                color: white;
                position: absolute;
                font: normal normal normal 14px/1 FontAwesome;
                content: '\f00c';
            }
        }

        .slider-handle {
            background: #fff;
            border-color: $green;
        }
    }
}

.partially-checked {
    input+label::before {
        transform: scale(0.5);
        content: '\f111';
        color: orange;
    }
}

.s-checkbox,
.s-checkbox-round,
.s-radio {
    input {
        &+label {
            padding-left: 30px;
        }

        &+label::before,
        &+label::after {
            left: 0;
        }
    }
}

.s-checkbox-slider {
    .slider-handle {
        left: 0px;
    }

    input:checked+label {

        .slider-handle {
            left: 15px;
        }
    }
}

.s-checkbox-slider-second {
    .slider-handle {
        left: 2px;
    }

    input:checked+label {
        .slider-handle {
            left: 27px;
        }

        .slider-bg::after {
            left: 8px;
        }
    }
}

.s-checkbox,
.s-checkbox-round,
.s-radio {
    input+label::after {
        border: 1px solid $primary;
    }
}

.s-checkbox {
    input {
        &:checked+label::after {
            background: $primary;
            border-color: $primary;
        }
    }
}

.s-radio {

    input {
        &+label:after {
            border-radius: 50%;
        }

        &:checked+label:after {
            background: white;
            border-color: $primary;
        }

        &:checked+label:before {
            background: $primary;
        }
    }
}

.s-checkbox-round {

    input {

        &:checked+label:after {
            background: $primary;
            border-color: $primary;
        }
    }
}

.s-checkbox-slider {

    input:checked+label {
        .slider-bg {
            background: $primary;
        }

        .slider-handle {
            background: #fff;
            border-color: $primary;
        }
    }
}