$bg_color: #feebff;
$cool-grey: #8898a0;
$steel: #7a8993;
$steel-lighter: #a7b7c1;
$tiffany-blue: #80deea;
$light-salmon: #ffab91;
$wheat: #ffcc80;
$salmon: #ff8a65;
$cerulean-blue: #007ee5;
$light_gray_low: #e8e8e8;
$light_gray: #e5e5e5;
$light_orange: #ffa726;
$green: #66bb6a;
$turquoise-blue: #00c4cc;
$coral: #f87981;
$dark-gray: #4a4a4a;
$zircon: #f7faff;
$whisper: #f5f6fa;
$danube: #719ece;

// .
// .
// colors
$error: #e50000;
$success: #66bb6a;
$warning: #ffcc02;
$select: #007ee5;

// .
// .
// .
// Validations
.text-success {
    color: #66bb6a !important
}

.text-warning {
    color: $warning !important
}

.text-error {
    color: $error !important
}

.bg-success {
    background-color: $success !important
}

.bg-warning {
    background-color: $warning !important
}

.bg-error {
    background-color: $error !important
}

// .
// .
// Shades Of Gray
// .text-black {
//     color: #4e5665
// }

// .text-gray-dark {
//     color: #4e5665;
// }

.text-gray {
    color: #b0bec5;
}

.text-gray-light {
    color: #d8dde6;
}

.text-white {
    color: #fff
}

.text-offwhite {
    color: #f8f8f8
}

.text-success {
    color: $success
}

.bg-black {
    background-color: #4e5665
}

.bg-gray-dark {
    background-color: #4e5665;
}

.bg-gray {
    background-color: #b0bec5;
}

.bg-gray-light {
    background-color: #d8dde6;
}

.bg-offwhite {
    background-color: #f8f8f8
}

.bg-basic {
    background-color: #f7f9fe;
}

.bg-white {
    background-color: #fff
}

.border-gray-light {
    border-color: #d8dde6;
}

.border-gray {
    border-color: #b0bec5;
}

.border-offwhite {
    border-color: #f8f8f8;
}

// .
// .
// Legends
.legend-orange {
    background: $light-salmon;
    color: #fff;
}

.legend-yellow {
    background: $wheat;
    color: #fff;
}

.legend-blue {
    background: $tiffany-blue;
    color: #fff;
}

.text-primary,
.text-link {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $siteBackground;
}