@import 'color_scheme';
@import 'blocks';
@import 'initializer';

input:focus,
textarea:focus,
select:focus,
input:active,
textarea:active,
select:active,
input:hover,
textarea:hover,
select:hover {
    @include boxshadow(0 0 3px rgba(0, 0, 0, 0.1));
    outline: 0;
}

select {
    -webkit-appearance: none;
}

select::before {
    content: 'dd'
}

label {
    font-weight: 500;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
    color: inherit;
}

.s-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.875rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: inherit;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid;
    border-color: $controlBorder;
    background-color: #fff;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    resize: vertical;

    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #b0bec5;
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        color: #b0bec5;
    }

    &:-ms-input-placeholder {
        /* IE 10+ */
        color: #b0bec5;
    }

    &:-moz-placeholder {
        /* Firefox 18- */
        color: #b0bec5;
    }

    &:hover {
        @include boxshadow(0 0 3px rgba(0, 0, 0, 0.1));
    }

    &:focus,
    &:active {
        @include boxshadow(0 0 3px rgba(0, 0, 0, 0.1));
    }

    &:disabled {
        background-color: #f8f8f8;
        border-color: #e8e8e8;
        @include boxshadow(0 0 0 transparent);
    }

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

.s-select {
    .ng-spinner-loader {
        display: none;
    }

    &.ng-select-opened {
        z-index: 19 !important;
    }

    .ng-has-value .ng-placeholder {
        display: none;
    }

    .ng-dropdown-panel {
        margin-bottom: 15px;
    }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
        padding: 4px 10px;
    }

    &.s-control {
        min-height: 2.375rem;
        height: auto;
        display: flex;
        align-items: center;
    }

    .ng-select-container {
        position: static !important;
    }

    .ng-dropdown-panel-items {
        background: #fff;

        .single-option {
            cursor: pointer !important;
            transition: 0.3s;
            display: inline-block;
            width: 100%;
            background: rgba(0, 0, 0, 0.0)
        }

        .ng-option {
            transition: 0.3s;
        }

        .ng-option:hover {
            background: rgba(0, 0, 0, 0.05)
        }
    }

    .ng-input,
    .ng-input input {
        left: 0;
        width: 100%;
        height: calc(100%);
        font-size: 1rem;
        line-height: calc(1rem);
        box-sizing: border-box !important;
        top: 0;
        opacity: 0;
        padding: 0;
    }
    .ng-input {
        padding: 0.375rem 0.875rem;
    }
    &.ng-select-opened .ng-input input {
        opacity: 1;
    }
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input {
    padding: 0;
}

.grade-box {
    width: 90px;
    height: 70px;
    font-size: 38px;
    font-weight: 400;
    padding: 5px;
    text-align: center;
}

select:invalid {
    color: #b0bec5;
}

textarea.s-control {
    height: 100px;
    padding: 0.625rem 0.875rem;
    resize: none;
}

.input-error, .has-error {
    .s-control {
        border-color: $error;
        &:focus {
            box-shadow: 0 0 8px -1px $error !important;
        }
    }
    .mat-button-wrapper::before {
        color: $error;
    }
    .validator{
        display: inline-block;
    }
}

.input-warning {
    .s-control {
        border-color: $warning;
    }
}

.input-success {
    .s-control {
        border-color: $success;
    }
}

.input-with-icon {
    position: relative;
    background-color: #fff;

    .s-control {
        position: relative;
        z-index: 2;
        background-color: transparent;
    }

    .input-icon {
        position: absolute;
        top: 0;
        width: 2rem;
        height: 100%;
        font-size: 1rem;
        color: $steel;
        @extend %flex-centered;
        z-index: 1;
        border-radius: 4px;

        &.date-picker {
            width: 100%;
            z-index: 9;

            .mat-button-wrapper {
                svg {
                    display: none;
                }

                &::before {
                    font-family: FontAwesome;
                    content: "\f073";
                }
            }
        }

        button {
            width: 100%;
            padding: 0 0.625rem;
        }

        .mat-button-wrapper {
            position: relative;
        }
    }
}

.inline-form-group {
    display: flex;
    align-items: center;

    .s-control {
        display: inline-block;
    }

    .input-with-icon {
        width: 100%;
        display: inline-block;
    }

    label {
        display: inline-block;
        width: auto;
        margin-bottom: 0;
        white-space: nowrap;
        min-width: 150px;
    }
}

.inline-form-group {
    label {
        margin-right: 1rem;
    }
}

.input-with-icon {
    .input-icon {
        right: 0;
    }

    .date-picker button {
        text-align: right;
    }

    .date-picker button .mat-button-focus-overlay,
    .date-picker button .mat-button-ripple.mat-ripple {
        opacity: 0 !important;
    }

    .s-control {
        padding-right: 2rem;
    }
}

.s-control {

    &:focus,
    &:active {
        border-color: $primary;
        @include boxshadow(0 0 8px -1px $primary);
    }
}

.form-checkbox-holder {
    min-height: 2.375rem;
}

*:disabled {
    cursor: not-allowed !important;
}