$fontSize: 16px;
$fontFamily: 'Lato', sans-serif;
$text: #000;
$secondaryText: #7a8993;
$border: #e9ebed;
$controlBorder: #a5adb4;
$background: #fff;
$spacingStep: 0.5rem;
$warning: #ffcc02;
$error: #e50000;
$success: #66bb6a;
$primary: #007ee5;
$secondary: #a5adb4;
$from: #007ee5;
$to: #0cbfe8;
$siteBackground: #f2f9ff;