<div class="container">
    <div class="pt-8 mt-8"></div>
    <div class="ptb-6 plr-6 content-shadow bg-white mb-6">
        <div class="max-600 max-center">
            <h2 class="section-title mb-3 title-with-btn">
                <div class="inline-block">
                    <i class="fa fa-caret-right mr-3"></i>
                    Statuses
                </div>
            </h2>
            <div class="ptb-6"></div>
            <div class="row smaller-gaps">
                <div class="col-md-12" *ngFor="let status of statuses">
                    <div class="single-status border-default ptb-2 plr-3 flex flex-space-between flex-middle mb-3"
                        [class.bg-offwhite]="!status.editable">
                        <div class="size-small">
                            {{status.name}}
                        </div>
                        <div class="status-actions" *ngIf="status.editable">
                            <i class="fa fa-pencil pointer text-primary mr-3" (click)="editStatus(status)"></i>
                            <i class="fa fa-trash-o pointer text-error" (click)="deleteStatus(status.id)"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row smaller-gaps add-status">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" (keyup.enter)="addStatus()" [(ngModel)]="statusInput" class="s-control" placeholder="+ Add new status...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>