<div class="container">
    <div class="pt-8 mt-8"></div>
    <div class="ptb-6 plr-6 content-shadow bg-white mb-6">
        <div class="stepper-container max-1000 max-center flex flex-middle ptb-8">
            <div class="stepper-point" [class.active]="currentStep >= 1">
                1
                <p class="stepper-title">
                    Student Details
                </p>
            </div>
            <div class="stepper-line" [class.next]="currentStep >= 1" [class.active]="currentStep >= 2"></div>
            <div class="stepper-point" [class.active]="currentStep >= 2">
                2
                <p class="stepper-title">
                    Sibling
                </p>
            </div>
            <div class="stepper-line" [class.next]="currentStep >= 2" [class.active]="currentStep >= 3"></div>
            <div class="stepper-point" [class.active]="currentStep >= 3">
                3
                <p class="stepper-title">
                    Parent
                </p>
            </div>
            <div class="stepper-line" [class.next]="currentStep >= 3" [class.active]="currentStep >= 4"></div>
            <div class="stepper-point" [class.active]="currentStep >= 4">
                4
                <p class="stepper-title">
                    Previous Details

                </p>
            </div>
            <div class="stepper-line" [class.next]="currentStep >= 4" [class.active]="currentStep >= 5"></div>
            <div class="stepper-point" [class.active]="currentStep >= 5">
                5
                <p class="stepper-title">
                    Previous Fees
                </p>
            </div>
            <div class="stepper-line" [class.next]="currentStep >= 5" [class.active]="currentStep >= 6"></div>
            <div class="stepper-point" [class.active]="currentStep >= 6">
                6
                <p class="stepper-title">
                    Additional details
                </p>
            </div>
        </div>
        <div class="pt-8"></div>
        <div class="step-1" *ngIf="currentStep == 1">
            <admission-student-details></admission-student-details>
        </div>
        <div class="step-2" *ngIf="currentStep == 2">
            <admission-student-siblings></admission-student-siblings>
        </div>
        <div class="step-3" *ngIf="currentStep == 3">
            <admission-parent-details></admission-parent-details>
        </div>
        <div class="step-4" *ngIf="currentStep == 4">
            <admission-previous-details></admission-previous-details>
        </div>
        <div class="step-5" *ngIf="currentStep == 5">
            <admission-previous-fees></admission-previous-fees>
        </div>
        <div class="step-6" *ngIf="currentStep == 6">
            <admission-additional-details></admission-additional-details>
        </div>
    </div>
</div>