<div class="bg-white content-shadow ptb-4 app-header-sticky">
    <div class="container">
        <div class="row">
            <div class="col flex-middle flex">
                <img height="25px" src="assets/images/skolera-logo-long.svg" alt="">
            </div>
            <div class="col text-right flex flex-middle flex-end">
                <div class="auth" *ngIf="globals.currentUser">
                    <a routerLink="/students/admission" class="s-btn btn-link btn-sm text-primary">
                        Student Admission
                    </a>
                    <a routerLink="/applicants" class="s-btn btn-link btn-sm">Applicants</a>
                    <button (click)="logout()" class="s-btn btn-link btn-sm pointer">
                        <span class="text-error">Logout</span>
                    </button>
                </div>
                <div class="not-auth" *ngIf="!globals.currentUser">
                    <a routerLink="/login" class="s-btn btn-link">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>