<div class="bg-white content-shadow ptb-3 app-header-sticky">
    <div class="container">
        <div class="row">
            <div class="col flex-middle flex">
                <img height="25px" src="assets/images/skolera-logo-long.svg" alt="">
            </div>
            <div class="col text-right flex flex-middle flex-end">
                <!-- <a routerLink="/applicants" class="hover-link size-default mr-5">Applicants</a> -->
                <a routerLink="/students/admission" class="s-btn btn-secondary">
                    Student Admission
                </a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>