<div class="complex-skolera-modal">
    <div class="modal-wrapper">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="component-title">{{data.title}}</h3>
            </div>
            <div class="modal-body">
                <div class="bg-white text-right">
                    <button *ngFor="let button of data.buttons;let i = index" class="s-btn {{button.type}}"
                        [class.ml-3]="i > 0" (click)="closeModal(button.actionCallback)">{{button.label}}</button>
                </div>
            </div>
        </div>
    </div>
</div>