<div class="container">
    <div class="pt-8 mt-8"></div>
    <div class="ptb-6 plr-6 content-shadow bg-white mb-6">
        <h2 class="section-title mb-3 title-with-btn mb-10">
            <div class="inline-block">
                <i class="fa fa-caret-right mr-3"></i>
                Applicant Registration
            </div>
            <button class="s-btn pointer btn-secondary ml-2" (click)="exportExcel()">
                    <img src="assets/images/export-icon.svg" class="mr-2" alt="">
                Export
             </button>
        </h2>
        <div class="level-applicants-table-container">
            <table mat-table #table [dataSource]="dataSource" class="table s-table table-striped">
                <ng-container *ngFor="let column of columns" [cdkColumnDef]="column.columnDef">
                    <mat-header-cell *cdkHeaderCellDef>
                        <div class="size-small weight-bold">
                            {{ column.header }}
                        </div>
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let row">
                        <div class="size-small">
                            <a class="underlined text-primary"
                                routerLink="{{'/students/profile/' + column.cell(row).id}}"
                                *ngIf="column.cell(row).hasOwnProperty('label')">{{column.cell(row).label}}
                            </a>
                            <span *ngIf="!column.cell(row).hasOwnProperty('label')">{{column.cell(row)}}</span>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </table>
        </div>
    </div>
</div>